@import "_top-nav.css";
@import "_slider.css";
@font-face {
  font-family: Vazirmatn;
  src: url(../font/Vazirmatn-Medium.woff2) format(woff2);
  font-weight: bold;
  font-style: normal;
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn;
}
body {
  direction: rtl;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
@media (max-width: 576px){
  .mt-csm-3{
    margin: 0!important;
  }
} 

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1240px !important;
  }
}

